body {
    background-color: #6FE2F9;
}

.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}
.bg-red {
    background-color: red;
}
.bg-purple {
    background-color: purple;
}

.view-body {
    background-color: #FFF;
    margin: 30px;
    border-radius: 10px;
    box-shadow: -3px -0px 30px 10px #EEE;

}
