<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/food.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="onlineshopApp">
        <header class="hero-unit" id="banner">
            <div class="container">
                <h1>Food View!!!</h1>
            </div>
        </header>

        <div class="container">
            <div>
                <div class="col-lg-12">
                    <h1 class="page-header">Features: {{choose}}</h1>
                    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="food in foodList">
                        <li><a href="#" tooltip="{{food}}" ng-click="changeSelection(food)">Product: {{food.name}} Price: {{food.price}}</a></li>
                    </ul>
                    <button ng-click="add()" class="btn btn-default">Add item</button>
                    <button ng-click="deduct()" class="btn btn-default">Remove item</button>
                </div>
                <div class="row margin-0 list-header hidden-sm hidden-xs">
                    <div class="col-lg-6 header">Product</div>
                    <div class="col-lg-6 header">Quantity</div>
                </div>

                <div ng-repeat="(name, item) in cart" class="col-lg-12">
                    <div class="col-lg-6 cell">{{name}}</div>
                    <div class="col-lg-6 cell">{{item.quantity}} <button ng-click="deduct(name)">-</button></div>
                </div>
            </div>

            
            <div>
                <div>
                    <h2 class="page-header">Total amount: {{totalPrice}}</h2>
                </div>
                <div>
                    <h1 class="page-header">Party: <input type="text" class="form-control" /></h1>
                </div>
                <button ng-click="checkout()" class="btn btn-default">Checkout</button>
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="styles/app.css">
    </body>
</html>
